*.pyc
/downloads
/app/static/img/.backup
/job
/.backup
/example
/doc
/projects
/github-cache
*.log
*.db
/app/templates_new
/app/templates_old
/app/templates - Copy
proposal-live-logs-v2.md
proposal-live-logs.md
proposal-project-detail-redesign.md
why_stuck.log
