*.pyc
/downloads
/app/static/img/.backup
/job
docker-compose-explained.html
dockliner.db
/.backup
PLAN.md
uvicorn.log
uvicorn_run.log
EXAMPLE.DESIGN.md
logo-palettes.html
theme-designer.html
x.html
logo-palettes.html
/example
